
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>BizPage Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="Content/img/favicon.png" rel="icon">
    <link href="Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="Content/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="Content/css/style.css" rel="stylesheet">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!--==========================
      Header
    ============================-->
    @Html.Partial("_Header");


    <!-- #header -->
    <!--==========================
              Contact Section
            ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h3>Contact Us</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>Address</h3>
                        <address>A108 Adam Street, NY 535022, USA</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:info@example.com">info@example.com</a></p>
                    </div>
                </div>

            </div>



        </div>
    </section><!-- #contact -->
    @Html.Partial("_Footer");

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="Content/lib/jquery/jquery.min.js"></script>
    <script src="Content/lib/jquery/jquery-migrate.min.js"></script>
    <script src="Content/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="Content/lib/easing/easing.min.js"></script>
    <script src="Content/lib/superfish/hoverIntent.js"></script>
    <script src="Content/lib/superfish/superfish.min.js"></script>
    <script src="Content/lib/wow/wow.min.js"></script>
    <script src="Content/lib/waypoints/waypoints.min.js"></script>
    <script src="Content/lib/counterup/counterup.min.js"></script>
    <script src="Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="Content/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="Content/lib/lightbox/js/lightbox.min.js"></script>
    <script src="Content/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="Content/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="Content/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

